.login-page .login-container .login-form .form-login .input-group input:focus {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important
}

#conns>div>div,#membuff>div>div,#memfree>div>div,#memtotal>div>div,#swapfree>div>div,#swaptotal>div>div,.login-page .login-container .login-form .form-login .cbi-button-apply {
    background-color: var(--dark-primary)!important
}

.login-page .login-container .login-form .form-login .cbi-button-apply:focus,.login-page .login-container .login-form .form-login .cbi-button-apply:hover {
    opacity: .9
}

.login-page .login-container footer {
    color: #adb5bd
}

header.bg-primary,header::after {
    background-color: #1e1e1e!important
}

.main .main-left {
    background-color: #333!important;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.15)
}

.main .main-left .nav .slide .slide-menu .active a,.main .main-left .nav .slide .slide-menu li a,.main .main-left .sidenav-header .brand {
    color: #ccc
}

.main .main-left .nav .slide .slide-menu .active a::after {
    background-color: #ccc!important
}

.main .main-left .nav .slide .slide-menu li a:hover {
    background: 0 0!important
}

.main .main-left .nav .slide .menu.active,.main .main-left .nav li a:hover {
    background-color: var(--dark-primary)!important;
    color: #ccc!important
}

.main .main-left .nav .slide .menu.active a::after {
    background-color: #ccc!important
}

#cbi-customfeedconf .cbi-map-descr,#cbi-customfeedconf h2,#cbi-distfeedconf .cbi-map-descr,#cbi-distfeedconf h2,#cbi-download h2,#cbi-dropbear .cbi-map-descr,#cbi-dropbear .cbi-map-descr abbr,#cbi-dropbear h2,#cbi-filelist h2,#cbi-rc .cbi-map-descr,#cbi-rc h2,#conns>div>div>div>small,#membuff>div>div>div>small,#memfree>div>div>div>small,#memtotal>div>div>div>small,#swapfree>div>div>div>small,#swaptotal>div>div>div>small,.main .main-left .nav li a,.node-services-vssr .block h4,.node-services-vssr .block h4 span {
    color: #ccc!important
}

.main .main-left::-webkit-scrollbar-thumb {
    background-color: #252526!important
}

.main .main-left::-webkit-scrollbar-track {
    background-color: #333
}

.main .main-right {
    background-color: #1e1e1e
}

h2,h3 {
    color: #ccc;
    background: #333
}

h3 {
    border-bottom: 0
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    color: var(--dark-primary)
}

input:-webkit-autofill {
    background-color: #3c3c3c!important
}

.cbi-button-apply,.cbi-button-edit,.cbi-value-field .cbi-input-apply {
    color: #fff!important;
    background-color: var(--dark-primary)!important;
    border-color: var(--dark-primary)!important
}

.cbi-section em,abbr,div.cbi-value var,td.cbi-value-field var {
    color: var(--dark-primary)
}

.cbi-map-descr,.cbi-tabmenu li[class~=cbi-tab] a,.cbi-tabmenu>li>a,.cbi-tabmenu>li>a:hover,.tabs>li>a,.tabs>li>a:hover,.tabs>li[class~=active]>a,table>tbody>tr>td,table>tfoot>tr>td,table>thead>tr>td {
    color: #ccc
}

.cbi-section {
    background: 0 0;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.35)
}

.panel-title {
    color: #ccc;
    background-color: #333;
    border-bottom: 0
}

div>.table>.tbody>.tr:nth-of-type(2n),div>table>tbody>tr:nth-of-type(2n),fieldset>table>tbody>tr:nth-of-type(2n) {
    background-color: #252526
}

table>tbody>tr>td,table>tfoot>tr>td,table>thead>tr>td {
    border-top: 1px solid #252526
}

.node-system-packages>.main .cbi-section-node:first-child .cbi-value-last {
    line-height: 1.8em
}

.node-system-packages>.main .cbi-section-node:first-child .cbi-value-last div[style="margin:3px 0; width:300px; height:10px; border:1px solid #000000; background-color:#80C080"] {
    border: 1px solid #999!important;
    background-color: transparent!important
}

.node-system-packages>.main .cbi-section-node:first-child .cbi-value-last div[style="margin:3px 0; width:300px; height:10px; border:1px solid #000000; background-color:#80C080"] div {
    background-color: #32325d!important
}

table>tbody>tr>th,table>tfoot>tr>th,table>thead>tr>th {
    background-color: #252526;
    border-bottom: #000 1px solid!important
}

.cbi-rowstyle-2 {
    background-color: #1e1e1e
}

.cbi-rowstyle-1 {
    background-color: #252526
}

.cbi-section>h3:first-child,.panel-title {
    color: #ccc;
    border-bottom: 0
}

.cbi-section-table .cbi-section-table-titles .cbi-section-table-cell {
    background-color: #1e1e1f
}

.cbi-button {
    color: #ccc;
    background-color: #252526
}

.cbi-section-node {
    background: 0 0;
    border-radius: 0 0 .375rem .375rem;
    padding: 0
}

#content_syslog {
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.35)
}

#diag-rc-output>pre,#syslog {
    color: #ccc;
    background-color: #1e1e1e
}

#bwsvg,#iwsvg,#iwsvg2 {
    overflow: hidden;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.35);
    background-color: #1e1e1e!important
}

.tabs {
    background-color: #252526
}

.tabs>li:hover,.tabs>li[class~=active] {
    border-bottom: .18751rem solid var(--dark-primary);
    color: #ccc;
    background-color: #181819
}

.cbi-tabmenu>li {
    background: #2d2d2d
}

.cbi-tabmenu {
    border-bottom: 0 solid #ddd!important
}

.cbi-tabmenu>li:hover {
    color: #ccc;
    background: #2d2d2d
}

.cbi-tabmenu>li[class~=cbi-tab] {
    background-color: #181819
}

.cbi-tabcontainer>.cbi-value:nth-of-type(2n) {
    background-color: #252526
}

.cbi-section-descr,.cbi-value-title {
    color: #ccc
}

input,select {
    color: #ccc;
    border: 1px solid #3c3c3c!important;
    box-shadow: 0 3px 2px rgba(0,0,0,.05)
}

input {
    background-color: transparent
}

input:focus,select:not([multiple=multiple]):focus {
    border-color: var(--dark-primary)!important;
    background-color: transparent;
    outline: 0;
    box-shadow: none
}

select {
    background-color: #1e1e1e!important
}

.cbi-value-field>ul>li .ifacebadge {
    background-color: #3c3c3c
}

.cbi-input-textarea {
    background-color: #1e1e1e;
    color: #ccc
}

.cbi-section-node:nth-of-type(2n),.cbi-section-remove:nth-of-type(2n) {
    background-color: #1e1e1e
}

.node-system-packages>.main table tr td:nth-last-child(1) {
    color: #ccc
}

.node-system-packages>.main .cbi-value>pre {
    background-color: #333
}

.cbi-section-node .cbi-value {
    padding: 1rem 1rem .3rem
}

.ifacebox {
    background-color: none;
    border: 1px solid #1e1e1e
}

.ifacebox-head {
    color: #666
}

.ifacebox-body,fieldset[id^=cbi-apply-] {
    background-color: #333
}

.zonebadge strong {
    color: #333
}

.zonebadge>.ifacebadge {
    background-color: #3c3c3c
}

.node-services-vssr .block {
    background-color: #1e1e1e!important;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.35)
}

.node-services-vssr .status-bar {
    color: #ccc;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.35);
    background-color: #1e1e1e
}

.node-services-vssr .cbi-section-table-row {
    color: #ccc;
    background-color: #3c3c3c!important;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.35)
}

.node-services-vssr .cbi-section-table-row.fast {
    background: #483d8b!important;
    background: var(--dark-primary)!important;
    color: #fff
}

.main .main-right #maincontent .container p,.node-services-vssr .ssr-button {
    color: #ccc
}

.node-services-vssr .incon:nth-child(2) {
    border-right: #1e1e1e 1px solid
}

#xhr_poll_status>.label.success {
    color: #ccc!important;
    background-color: #556b2f!important
}

.notice {
    background-color: var(--dark-primary)!important
}

.cbi-button-add,.cbi-button-find,.cbi-button-reload,.cbi-button-save,.cbi-input-find,.cbi-input-reload,.cbi-input-save {
    background-color: #8fbc8f!important;
    border-color: #8fbc8f!important
}

.cbi-button-reset,.cbi-input-remove {
    color: #fff!important;
    background-color: #ff8c00!important;
    border-color: #ff8c00!important
}

.cbi-button-action.important,.cbi-button-apply.important,.cbi-button-edit.important,.cbi-button-reload.important,.cbi-page-actions .cbi-button-apply,.cbi-section-actions .cbi-button-edit {
    border: 1px var(--dark-primary) solid!important
}

#detail-bubble>div {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    background: #252525
}

.cbi-section-error {
    color: #ff8c00
}

.login-page .login-container .login-form {
    -webkit-backdrop-filter: blur(var(--blur-radius-dark));
    backdrop-filter: blur(var(--blur-radius-dark));
    background-color: rgba(0,0,0,var(--blur-opacity-dark))
}